Body {
    Font-family: Arial, sans-serif;
}

.big-header {
    Font-family: "Raleway", Arial, sans-serif;
    font-weight: bold;
    font-size: 40px;
    
    text-transform: uppercase;
    text-align: center;
    
    padding-top: 20px;
    padding-bottom: 20px;
    
    color: ;
}

.small-header {
    Font-family: "Raleway", Arial, sans-serif;
    font-size: 30px;
    
    text-transform: lowercase;
    text-align: center;
    
    padding-bottom: 20px;
}

.background {
    Background-image: url("http://vignette2.wikia.nocookie.net/play-rust/images/3/38/Gears_Banner.jpg/revision/latest?cb=20140725144944");
	color: white;
    text-align: center;
    Background-size: cover;
}